<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>233827249645-pori5o2jqj5vhupgqh9narlu3v3feot8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.233827249645-pori5o2jqj5vhupgqh9narlu3v3feot8</string>
	<key>API_KEY</key>
	<string>AIzaSyBBMQU3_KmZ2pWC_sdKD1QkQSYB-Hz05Ns</string>
	<key>GCM_SENDER_ID</key>
	<string>233827249645</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterTestCustom</string>
	<key>PROJECT_ID</key>
	<string>hua-20220921</string>
	<key>STORAGE_BUCKET</key>
	<string>hua-20220921.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:233827249645:ios:9c987c3587a5880f674be4</string>
</dict>
</plist>